## adjust countries to be the same information

In [1]:
%pip install geopy translate joblib

Requirement already satisfied: geopy in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (2.3.0)
Requirement already satisfied: translate in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (3.6.1)
Requirement already satisfied: joblib in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (1.2.0)
Requirement already satisfied: geographiclib<3,>=1.52 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from geopy) (2.0)
Requirement already satisfied: click in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (8.1.3)
Requirement already satisfied: lxml in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (4.9.2)
Requirement already satisfied: requests in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (2.31.0)
Requirement already satisfied: libretranslatepy==2.1.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (2.1.1)
Requirement already satisfied: colorama in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from click->translate) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

### Reading files automatically

In [2]:
import os
import pandas as pd

def _adjust_name(name):
    if not('df_' in name):
        return 'df_' + name
    return name
def _get_files_from(base_path = '..\\data\\processed', extension='csv'):
    return [(_adjust_name(name.split('.')[0].lower()), str(os.path.join(root, name))) for (root, _, files) in os.walk(base_path, topdown=False) for name in files if (extension in name)]

def read_files(_from='..\\data\\processed', extension='csv'):
    vars = []
    for item in _get_files_from(_from, extension=extension):
        exec(f'vars.append("{item[0]}")')
        exec(f"{item[0]} = pd.read_csv(r'{item[1]}', sep=';', decimal=',')")
    return vars

# _get_files_from()

In [3]:
df_noaa_global = pd.read_csv(r'..\\data\\processed\\noaa_global\\noaa_global.csv', sep=';', decimal=',')
df_vinhos = pd.read_csv(r'..\\data\\processed\\tech_challenge\\df_vinhos.csv', sep=';', decimal=',')
df_temperature_change_data = pd.read_csv(r'..\\data\\processed\\temp_change\\temperature_change_Data.csv', sep=';', decimal=',')
df_wbpy = pd.read_csv(r'..\\data\\processed\\wbpy\\wbpy.csv', sep=';', decimal=',')

In [4]:
df_noaa_global.head(2)

,station_id,year,stat,value_min,value_mean,value_median,value_max,latitude,longitude,elevation,name
0,ITE00100554,1763,TMAX,-39,147.873973,147.0,309,45.4717,9.1892,150.0,MILAN
1,ITE00100554,1763,TMIN,-63,100.657534,99.0,233,45.4717,9.1892,150.0,MILAN

In [5]:
df_vinhos.head(2)

,pais,ano,quantidade_exportada_pais,valor_exportado_pais,id_produto,produto,quantidade_prod_rs,quantidade_com_rs,country_code
0,Afeganistão,1970,0,0,vinho de mesa,vinho de mesa,217208604.0,98327606.0,af
1,Afeganistão,1970,0,0,vm_tinto,tinto,174224052.0,83300735.0,af

### Adjust df_vinhos pais to country code

from translate import Translator
from geopy.geocoders import Nominatim

def _adjust(name):
    if ',' in name:
        return translator.translate(name.split(',')[1])
    return name

translator= Translator(to_lang="en", from_lang='pt')
geolocator = Nominatim(user_agent="geoapiExercises")

dict_translates = dict()

for _country_name in df_vinhos.pais.unique():
    x = geolocator.geocode(_adjust(_country_name.lower()))
    dict_translates[_country_name] = (geolocator.reverse(f"{x.latitude},{x.longitude}")).raw['address']['country_code']


import joblib

base_path = '..\\data\\processed'
joblib.dump(dict_translates, base_path+"\\dict_translates.pkl")

### Adjust noaa name to country code

In [6]:
import joblib

base_path = '..\\data\\processed'
dict_latlong = joblib.load(base_path+"\\dict_latlong.pkl")

In [7]:
list_latlong =[f"{_tuple.latitude},{_tuple.longitude}" for _tuple in df_noaa_global[['latitude','longitude']].drop_duplicates().itertuples()]
len(list_latlong)

112035

In [8]:
list_dict = list(dict_latlong.keys())
len(list_dict)

111870

In [9]:
list_diferenca = (list(set(list_latlong) -set(list_dict)))
list_diferenca.sort()
len(list_diferenca)

165

import time
from translate import Translator
from geopy.geocoders import Nominatim
import joblib

base_path = '..\\data\\processed'
dict_latlong = joblib.load(base_path+"\\dict_latlong.pkl")
# dict_latlong = dict()
list_dict = list(dict_latlong.keys())
list_diferenca = (list(set(list_latlong) -set(list_dict)))
def _adjust(name):
    if ',' in name:
        return translator.translate(name.split(',')[1])
    return name

translator= Translator(to_lang="en", from_lang='pt')
geolocator = Nominatim(user_agent="geoapiExercises")

errors = []
for lat_long in list_diferenca:
    if not(lat_long in dict_latlong.keys()):
        try:
            dict_latlong[lat_long] = geolocator.reverse(lat_long).raw['address']['country_code']
            joblib.dump(dict_latlong, base_path+"\\dict_latlong.pkl")
            print(f"{len(dict_latlong.keys())} de {len(df_noaa_global[['latitude','longitude']].drop_duplicates())}")
            list_dict = list(dict_latlong.keys())
            list_diferenca = (list(set(list_latlong) -set(list_dict)))
        except:
            errors.append(lat_long)

import joblib

base_path = '..\\data\\processed'
joblib.dump(dict_latlong, base_path+"\\dict_latlong.pkl")

## Load data

In [83]:
import os
import pandas as pd
import joblib

base_path = '..\\data\\processed'
dict_latlong = joblib.load(base_path+"\\dict_latlong.pkl")
dict_translates = joblib.load(base_path+"\\dict_translates.pkl")

df_noaa_global = pd.read_csv(r'..\\data\\processed\\noaa_global\\noaa_global.csv', sep=';', decimal=',')
df_vinhos = pd.read_csv(r'..\\data\\processed\\tech_challenge\\df_vinhos.csv', sep=';', decimal=',')
df_temperature_change_data = pd.read_csv(r'..\\data\\processed\\temp_change\\temperature_change_Data.csv', sep=';', decimal=',')
df_wbpy = pd.read_csv(r'..\\data\\processed\\wbpy\\wbpy.csv', sep=';', decimal=',')

In [50]:
df_vinhos.ano.min()

1970

In [84]:
df_vinhos['country_code'] = [dict_translates[x].upper() for x in df_vinhos.pais]

df_noaa_global['lat_long'] = [f"{x.latitude},{x.longitude}" for x in df_noaa_global.itertuples()]
df_noaa_global = df_noaa_global.loc[df_noaa_global['lat_long'].isin(list(dict_latlong.keys()))]
df_noaa_global = df_noaa_global.loc[df_noaa_global['stat'].isin(['TMAX','TMIN','TAVG','PRCP'])]
df_noaa_global = df_noaa_global.loc[df_noaa_global['year'] > 1970]
df_noaa_global['country_code'] = [dict_latlong[f"{x.latitude},{x.longitude}"].upper() for x in df_noaa_global.itertuples()]
df_noaa_global = df_noaa_global.loc[df_noaa_global['country_code'].isin(list(df_vinhos.country_code.unique()))]

In [85]:
def _adjust_temperature(row, var):
    """
    vamos transformar dados em farenheidt para celsius;
    caso seja menor que -90 (menor temperatura ja encontrada no planeta, na antartida) 
    ou maior que 57 (maior temp, na california (death valley, usa)), retorna np.nan
    """
    import numpy as np
    if (row['stat'] in ['TMAX','TMIN','TAVG']):
        celsius = (row[var] - 32) * 5/9
        if ((celsius > -90) & (celsius < 57)):
            return celsius
        else:
            return np.nan
    return row[var]

for var in ['value_min', 'value_mean', 'value_median','value_max']:
    df_noaa_global[var] = df_noaa_global.apply(lambda row: _adjust_temperature(row, var), axis=1)

In [75]:
df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
        'value_min':('min','mean','median','max')
    })\
    .groupby(['stat'])\
    .describe()

     value_min
           min
         count       mean         std           min        25%        50%
stat
PRCP    4549.0 -13.956474  612.847574 -30866.000000   0.000000   0.000000  \
TAVG    2772.0 -34.255451   46.531585    -89.444444 -79.444444 -40.833333
TMAX    2659.0 -36.241486   44.226140    -89.444444 -76.666667 -45.555556
TMIN    3733.0 -34.701164   50.644788    -89.444444 -83.333333 -52.222222

                                                 ...
                                mean             ...     median
            75%          max   count       mean  ...        75%          max
stat                                             ...
PRCP   0.000000  4361.000000  4549.0   4.465069  ...   0.000000  4361.000000  \
TAVG   6.111111    56.666667  2772.0  -9.206290  ...  29.444444    56.666667
TMAX  -5.555556    56.666667  2659.0  -7.688848  ...  33.888889    56.666667
TMIN  19.444444    56.666667  3733.0 -10.972411  ...  33.333333    56.666667


         max
       count       mean         std        min        25%        50%
stat
PRCP  4549.0  45.032095  331.024009   0.000000   0.000000   0.000000  \
TAVG  2772.0  14.720819   42.687173 -88.888889 -20.555556  31.111111
TMAX  2659.0  18.540596   39.554338 -87.777778 -17.777778  37.777778
TMIN  3733.0  15.800667   41.762977 -89.444444 -16.111111  34.444444



            75%          max
stat
PRCP   0.000000  9271.000000
TAVG  52.222222    56.666667
TMAX  54.444444    56.666667
TMIN  51.666667    56.666667

[4 rows x 32 columns]

In [86]:
df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
        'value_mean':('mean')
    })\
    .groupby(['stat'])\
    .describe()

     value_mean
          count       mean         std        min        25%        50%
stat
PRCP     4549.0  56.040772  133.335521   0.000000  20.304621  32.565068  \
TAVG     1955.0  29.295964   19.049174 -55.484018  18.608652  35.391439
TMAX     1638.0  33.804528   16.658031 -29.777778  24.180306  36.793634
TMIN     2648.0  18.924296   21.171263 -54.512463   4.743791  22.163609


            75%          max
stat
PRCP  59.945622  4361.000000
TAVG  42.692467    56.889645
TMAX  47.286344    56.879756
TMIN  33.873764    56.937248

In [77]:
df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
         'value_median':'median'
    })\
    .groupby(['stat'])\
    .describe()

     value_median
            count       mean         std        min        25%        50%
stat
PRCP       4549.0  13.845900  114.220040   0.000000   0.000000   0.000000  \
TAVG       1960.0  32.198058   18.525095 -46.666667  21.666667  38.055556
TMAX       1630.0  34.526755   18.046833 -50.555556  25.555556  38.888889
TMIN       2645.0  21.371928   20.449414 -52.222222   8.888889  24.444444


            75%          max
stat
PRCP   5.000000  4361.000000
TAVG  46.111111    56.944444
TMAX  48.611111    56.944444
TMIN  36.666667    56.944444

In [87]:
dest_path = '..\\data\\processed\\noaa_global\\'
df_noaa2 = df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
        'value_min':'min'
        , 'value_mean':'mean'
        , 'value_median':'median'
        , 'value_max':'max'
    })\
    .reset_index()
df_noaa2\
    .to_csv(dest_path+'noaa_global_final.csv', index=False, sep=';', decimal=',')

In [80]:
dest_path = '..\\data\\processed\\tech_challenge\\'
df_vinhos.to_csv(dest_path+'df_vinhos.csv', index=False, sep=';', decimal=',')