## adjust countries to be the same information

In [2]:
%pip install geopy translate joblib streamlit scikit-learn

Requirement already satisfied: geopy in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (2.3.0)
Requirement already satisfied: translate in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (3.6.1)
Requirement already satisfied: joblib in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (1.2.0)
Requirement already satisfied: streamlit in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (1.23.1)
Requirement already satisfied: scikit-learn in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (1.2.2)
Requirement already satisfied: geographiclib<3,>=1.52 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from geopy) (2.0)
Requirement already satisfied: click in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (8.1.3)
Requirement already satisfied: lxml in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (4.9.2)
Requirement already satisfied: requests in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (2.31.0)
Requirement already satisfied: libretranslatepy==2.1.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from translate) (2.1.1)
Requirement already satisfied: altair<6,>=4.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (5.3.1)
Requirement already satisfied: importlib-metadata<7,>=1.4 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (6.7.0)
Requirement already satisfied: numpy<2,>=1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<24,>=14.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=0.25 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (2.0.1)
Requirement already satisfied: pillow<10,>=6.2.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (9.5.0)
Requirement already satisfied: protobuf<5,>=3.20 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (4.23.3)
Requirement already satisfied: pyarrow>=4.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (12.0.1)
Requirement already satisfied: pympler<2,>=0.9 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (1.0.1)
Requirement already satisfied: python-dateutil<3,>=2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: rich<14,>=10.11.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (13.4.2)
Requirement already satisfied: tenacity<9,>=8.0.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.0.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (4.6.3)
Requirement already satisfied: tzlocal<5,>=1.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (4.3)
Requirement already satisfied: validators<1,>=0.2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (0.20.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (3.1.31)
Requirement already satisfied: pydeck<1,>=0.1.dev5 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (6.3.2)
Requirement already satisfied: watchdog in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from streamlit) (3.0.0)
Requirement already satisfied: scipy>=1.3.2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: jinja2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from click->translate) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from gitpython!=3.1.19,<4,>=3->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from pandas<3,>=0.25->streamlit) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from pandas<3,>=0.25->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from python-dateutil<3,>=2->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from requests->translate) (2023.5.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from rich<14,>=10.11.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from rich<14,>=10.11.0->streamlit) (2.15.1)
Requirement already satisfied: pytz-deprecation-shim in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from tzlocal<5,>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from validators<1,>=0.2->streamlit) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.2)
Requirement already satisfied: attrs>=17.4.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in d:\cursos\fiap_pós\gp27_techchallenge\.venv\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.11.0->streamlit) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip freeze > ..//requirements.txt

Note: you may need to restart the kernel to use updated packages.

### Reading files automatically

In [2]:
import os
import pandas as pd

def _adjust_name(name):
    if not('df_' in name):
        return 'df_' + name
    return name
def _get_files_from(base_path = '..\\data\\processed', extension='csv'):
    return [(_adjust_name(name.split('.')[0].lower()), str(os.path.join(root, name))) for (root, _, files) in os.walk(base_path, topdown=False) for name in files if (extension in name)]

def read_files(_from='..\\data\\processed', extension='csv'):
    vars = []
    for item in _get_files_from(_from, extension=extension):
        exec(f'vars.append("{item[0]}")')
        exec(f"{item[0]} = pd.read_csv(r'{item[1]}', sep=';', decimal=',')")
    return vars

# _get_files_from()

In [3]:
df_noaa_global = pd.read_csv(r'..\\data\\processed\\noaa_global\\noaa_global.csv', sep=';', decimal=',')
df_vinhos = pd.read_csv(r'..\\data\\processed\\tech_challenge\\df_vinhos.csv', sep=';', decimal=',')
df_temperature_change_data = pd.read_csv(r'..\\data\\processed\\temp_change\\temperature_change_Data.csv', sep=';', decimal=',')
df_wbpy = pd.read_csv(r'..\\data\\processed\\wbpy\\wbpy.csv', sep=';', decimal=',')

In [4]:
df_noaa_global.head(2)

,station_id,year,stat,value_min,value_mean,value_median,value_max,latitude,longitude,elevation,name
0,ITE00100554,1763,TMAX,-39,147.873973,147.0,309,45.4717,9.1892,150.0,MILAN
1,ITE00100554,1763,TMIN,-63,100.657534,99.0,233,45.4717,9.1892,150.0,MILAN

In [5]:
df_vinhos.head(2)

,pais,ano,quantidade_exportada_pais,valor_exportado_pais,id_produto,produto,quantidade_prod_rs,quantidade_com_rs,country_code
0,Afeganistão,1970,0,0,vinho de mesa,vinho de mesa,217208604.0,98327606.0,af
1,Afeganistão,1970,0,0,vm_tinto,tinto,174224052.0,83300735.0,af

### Adjust df_vinhos pais to country code

from translate import Translator
from geopy.geocoders import Nominatim

def _adjust(name):
    if ',' in name:
        return translator.translate(name.split(',')[1])
    return name

translator= Translator(to_lang="en", from_lang='pt')
geolocator = Nominatim(user_agent="geoapiExercises")

dict_translates = dict()

for _country_name in df_vinhos.pais.unique():
    x = geolocator.geocode(_adjust(_country_name.lower()))
    dict_translates[_country_name] = (geolocator.reverse(f"{x.latitude},{x.longitude}")).raw['address']['country_code']


import joblib

base_path = '..\\data\\processed'
joblib.dump(dict_translates, base_path+"\\dict_translates.pkl")

### Adjust noaa name to country code

In [6]:
import joblib

base_path = '..\\data\\processed'
dict_latlong = joblib.load(base_path+"\\dict_latlong.pkl")

In [7]:
list_latlong =[f"{_tuple.latitude},{_tuple.longitude}" for _tuple in df_noaa_global[['latitude','longitude']].drop_duplicates().itertuples()]
len(list_latlong)

112035

In [8]:
list_dict = list(dict_latlong.keys())
len(list_dict)

111870

In [9]:
list_diferenca = (list(set(list_latlong) -set(list_dict)))
list_diferenca.sort()
len(list_diferenca)

165

import time
from translate import Translator
from geopy.geocoders import Nominatim
import joblib

base_path = '..\\data\\processed'
dict_latlong = joblib.load(base_path+"\\dict_latlong.pkl")
# dict_latlong = dict()
list_dict = list(dict_latlong.keys())
list_diferenca = (list(set(list_latlong) -set(list_dict)))
def _adjust(name):
    if ',' in name:
        return translator.translate(name.split(',')[1])
    return name

translator= Translator(to_lang="en", from_lang='pt')
geolocator = Nominatim(user_agent="geoapiExercises")

errors = []
for lat_long in list_diferenca:
    if not(lat_long in dict_latlong.keys()):
        try:
            dict_latlong[lat_long] = geolocator.reverse(lat_long).raw['address']['country_code']
            joblib.dump(dict_latlong, base_path+"\\dict_latlong.pkl")
            print(f"{len(dict_latlong.keys())} de {len(df_noaa_global[['latitude','longitude']].drop_duplicates())}")
            list_dict = list(dict_latlong.keys())
            list_diferenca = (list(set(list_latlong) -set(list_dict)))
        except:
            errors.append(lat_long)

import joblib

base_path = '..\\data\\processed'
joblib.dump(dict_latlong, base_path+"\\dict_latlong.pkl")

## Load data and adjust temperature

In [4]:
import os
import pandas as pd
import joblib
import numpy as np

base_path = '..\\data\\processed'
dict_latlong = joblib.load(base_path+"\\dict_latlong.pkl")
dict_translates = joblib.load(base_path+"\\dict_translates.pkl")

df_noaa_global = pd.read_csv(r'..\\data\\processed\\noaa_global\\noaa_global_final.csv', sep=';', decimal=',')
df_vinhos = pd.read_csv(r'..\\data\\processed\\tech_challenge\\df_vinhos.csv', sep=';', decimal=',')
df_temperature_change_data = pd.read_csv(r'..\\data\\processed\\temp_change\\temperature_change_Data.csv', sep=';', decimal=',')
df_wbpy = pd.read_csv(r'..\\data\\processed\\wbpy\\wbpy.csv', sep=';', decimal=',')

In [5]:
df_noaa_global\
     .query('country_code=="IT"')\
     .query('stat=="TMAX"')

       year  stat country_code  value_min  value_mean  value_median  value_max
110    1971  TMAX           IT -85.555556   25.744769     18.760684  16.111111
302    1972  TMAX           IT -70.000000   18.196117     14.166667        NaN
615    1973  TMAX           IT -78.888889   13.754401     12.839506  32.222222
971    1974  TMAX           IT -66.666667   14.114983     20.888889  37.777778
1328   1975  TMAX           IT -83.333333   26.814874     24.055556  54.444444
1683   1976  TMAX           IT -78.888889   23.060571     19.012346  10.000000
2050   1977  TMAX           IT -72.777778   20.997519     18.809524  37.777778
2414   1978  TMAX           IT -83.888889   21.807269     19.513889  15.555556
2785   1979  TMAX           IT -73.333333   14.355752     16.250000  21.111111
3163   1980  TMAX           IT -88.888889   22.894656     19.413580  26.666667
3538   1981  TMAX           IT -78.888889   24.473661     23.650794  32.222222
3920   1982  TMAX           IT -81.666667   28.078398     24.320988  55.555556
4297   1983  TMAX           IT -84.444444   25.614571     23.571429  17.222222
4677   1984  TMAX           IT -87.777778   20.789817     21.944444  27.777778
5054   1985  TMAX           IT -83.333333   20.020375     19.841270  33.333333
5436   1986  TMAX           IT -77.777778   19.855165     20.753968  20.555556
5814   1987  TMAX           IT -84.444444   21.169524     20.714286  53.333333
6193   1988  TMAX           IT -52.222222   33.110469     26.805556        NaN
6572   1989  TMAX           IT -57.777778   35.343236     27.037037  56.666667
6948   1990  TMAX           IT -73.888889   36.753790     26.574074        NaN
7317   1991  TMAX           IT -78.333333   25.457150     23.993056  45.555556
7687   1992  TMAX           IT -88.333333   29.958750     19.761905  33.888889
8058   1993  TMAX           IT -85.555556   20.036159     19.444444  40.000000
8437   1994  TMAX           IT -79.444444   26.869530     28.972222  46.111111
8810   1995  TMAX           IT -66.111111   27.388746     26.527778  42.222222
9182   1996  TMAX           IT -86.111111   16.033389     14.285714  30.000000
9562   1997  TMAX           IT -70.000000   22.526337     24.618056 -12.222222
9939   1998  TMAX           IT -82.222222   23.008349     12.129630  51.111111
10308  1999  TMAX           IT -66.111111   24.539354     26.087963   7.777778
10683  2000  TMAX           IT -84.444444   15.530994     11.388889 -23.333333
11066  2001  TMAX           IT -84.444444   29.809518     31.888889        NaN
11446  2002  TMAX           IT -73.333333   32.504125     30.092593        NaN
11826  2003  TMAX           IT -81.111111   17.934152     14.841270 -34.444444
12214  2004  TMAX           IT -84.444444   26.321429     27.469136  56.666667
12599  2005  TMAX           IT -53.888889   22.958904     26.111111        NaN
12983  2006  TMAX           IT -83.333333   35.247613     31.555556        NaN
13367  2007  TMAX           IT -70.555556   34.916480     32.314815  34.444444
13753  2008  TMAX           IT -72.777778   26.768075     24.027778  26.666667
14132  2009  TMAX           IT -84.444444   48.548682     48.703704        NaN
14518  2010  TMAX           IT -67.777778   36.975536     35.555556        NaN
14908  2011  TMAX           IT -81.111111   43.629680     36.111111        NaN
15293  2012  TMAX           IT -86.666667   35.866279     35.138889        NaN
15683  2013  TMAX           IT -85.555556   28.018243     27.619048  40.000000
16073  2014  TMAX           IT -73.333333   30.433165     33.750000  27.777778
16462  2015  TMAX           IT -66.666667   33.652806     36.770833  51.111111
16848  2016  TMAX           IT -84.444444   30.006208     28.253968  43.333333
17229  2017  TMAX           IT -82.222222   22.305503     21.746032  41.111111
17609  2018  TMAX           IT -77.777778   23.066361     26.620370  50.000000
17983  2019  TMAX           IT -78.888889   21.241520     21.365741  38.888889

In [3]:
df_vinhos.ano.min()

1970

In [4]:
df_vinhos['country_code'] = [dict_translates[x].upper() for x in df_vinhos.pais]

df_noaa_global['lat_long'] = [f"{x.latitude},{x.longitude}" for x in df_noaa_global.itertuples()]
df_noaa_global = df_noaa_global.loc[df_noaa_global['lat_long'].isin(list(dict_latlong.keys()))]
df_noaa_global = df_noaa_global.loc[df_noaa_global['stat'].isin(['TMAX','TMIN','TAVG','PRCP'])]
df_noaa_global = df_noaa_global.loc[df_noaa_global['year'] > 1970]
df_noaa_global['country_code'] = [dict_latlong[f"{x.latitude},{x.longitude}"].upper() for x in df_noaa_global.itertuples()]
df_noaa_global = df_noaa_global.loc[df_noaa_global['country_code'].isin(list(df_vinhos.country_code.unique()))]

In [5]:
def _adjust_temperature(row, var):
    """
    vamos transformar dados em farenheidt para celsius;
    caso seja menor que -90 (menor temperatura ja encontrada no planeta, na antartida) 
    ou maior que 57 (maior temp, na california (death valley, usa)), retorna np.nan
    """
    if (row['stat'] in ['TMAX','TMIN','TAVG']):
        celsius = (row[var] - 32) * 5/9
        if ((celsius > -90) & (celsius < 57)):
            return celsius
        else:
            return np.nan
    return row[var]

for var in ['value_min', 'value_mean', 'value_median','value_max']:
    df_noaa_global[var] = df_noaa_global.apply(lambda row: _adjust_temperature(row, var), axis=1)

In [6]:
df_noaa_global\
     .query('stat=="TMAX"')\
     [['value_min', 'value_mean','value_median','value_max']]\
     .describe()

           value_min     value_mean   value_median    value_max
count  400801.000000  246278.000000  236659.000000  7165.000000
mean      -22.188861      27.198592      27.409438    19.444289
std        42.800676      25.972776      25.449742    29.511280
min       -89.444444     -89.983416     -89.722222   -89.444444
25%       -59.444444      17.246716      16.111111    -0.555556
50%       -26.666667      33.919015      33.888889    26.111111
75%        13.333333      45.554033      46.111111    43.888889
max        56.666667      56.999389      56.944444    56.666667

In [7]:
# imputar media no lugar do nan
for col in ['value_min', 'value_mean', 'value_median','value_max']:
    df_noaa_global[col] = df_noaa_global[col].fillna(df_noaa_global.groupby(['year','stat','country_code'])[col].transform('mean'))

In [8]:
df_noaa_global\
     .query('stat=="TMAX"')\
     [['value_min', 'value_mean','value_median','value_max']]\
     .describe()

           value_min     value_mean   value_median      value_max
count  744802.000000  728837.000000  727992.000000  607930.000000
mean      -22.011482      34.059356      33.512109      23.649294
std        39.544978      16.587638      15.902267      14.556917
min       -89.444444     -89.983416     -89.722222     -89.444444
25%       -48.888889      34.356388      32.903462      14.763889
50%       -35.519751      37.020081      36.022710      25.134100
75%        19.444444      41.676949      40.555556      32.425214
max        56.666667      56.999389      56.944444      56.666667

In [9]:
df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
        'value_min':('min','mean','median','max')
    })\
    .groupby(['stat'])\
    .describe()

     value_min
           min
         count       mean         std           min        25%        50%
stat
PRCP    4549.0 -13.956474  612.847574 -30866.000000   0.000000   0.000000  \
TAVG    2772.0 -34.255451   46.531585    -89.444444 -79.444444 -40.833333
TMAX    2659.0 -36.241486   44.226140    -89.444444 -76.666667 -45.555556
TMIN    3733.0 -34.701164   50.644788    -89.444444 -83.333333 -52.222222

                                                 ...
                                mean             ...     median
            75%          max   count       mean  ...        75%          max
stat                                             ...
PRCP   0.000000  4361.000000  4549.0   4.465069  ...   0.000000  4361.000000  \
TAVG   6.111111    56.666667  2772.0  -9.206290  ...  27.777778    56.666667
TMAX  -5.555556    56.666667  2659.0  -7.688848  ...  31.666667    56.666667
TMIN  19.444444    56.666667  3733.0 -10.972411  ...  32.222222    56.666667


         max
       count       mean         std        min        25%        50%
stat
PRCP  4549.0  45.032095  331.024009   0.000000   0.000000   0.000000  \
TAVG  2772.0  14.720819   42.687173 -88.888889 -20.555556  31.111111
TMAX  2659.0  18.540596   39.554338 -87.777778 -17.777778  37.777778
TMIN  3733.0  15.800667   41.762977 -89.444444 -16.111111  34.444444



            75%          max
stat
PRCP   0.000000  9271.000000
TAVG  52.222222    56.666667
TMAX  54.444444    56.666667
TMIN  51.666667    56.666667

[4 rows x 32 columns]

In [10]:
df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
        'value_mean':('mean')
    })\
    .groupby(['stat'])\
    .describe()

     value_mean
          count       mean         std        min        25%        50%
stat
PRCP     4549.0  56.040772  133.335521   0.000000  20.304621  32.565068  \
TAVG     1955.0  29.295964   19.049174 -55.484018  18.608652  35.391439
TMAX     1638.0  33.804528   16.658031 -29.777778  24.180306  36.793634
TMIN     2648.0  18.924296   21.171263 -54.512463   4.743791  22.163609


            75%          max
stat
PRCP  59.945622  4361.000000
TAVG  42.692467    56.889645
TMAX  47.286344    56.879756
TMIN  33.873764    56.937248

In [11]:
df_noaa_global\
     .query('country_code=="BR"')\
     .groupby(['stat','country_code'])\
     [['value_min', 'value_mean','value_max']]\
     .describe()

                  value_min
                      count       mean        std        min        25%
stat country_code
PRCP BR             96827.0   0.326613  29.725595   0.000000   0.000000  \
TAVG BR              3128.0  37.224406   8.012492  -6.111111  34.343434
TMAX BR              1543.0  48.004916   5.129841  32.222222  44.920635
TMIN BR              2472.0  26.708150  14.737536 -56.666667  21.150794

                                                     value_mean
                         50%        75%          max      count       mean
stat country_code
PRCP BR             0.000000   0.000000  8880.000000    96827.0  38.969557  \
TAVG BR            37.083333  41.923077    56.666667      449.0  52.551039
TMAX BR            48.333333  51.944444    56.666667        0.0        NaN
TMIN BR            26.240741  35.804094    56.666667     2220.0  42.659277

                   ...                         value_max
                   ...        75%          max     count        mean
stat country_code  ...
PRCP BR            ...  46.789730  8880.000000   96827.0  824.395551  \
TAVG BR            ...  54.861111    56.666667     262.0   51.921120
TMAX BR            ...        NaN          NaN       0.0         NaN
TMIN BR            ...  48.888889    56.944444    1975.0   38.636021


                          std        min         25%         50%         75%
stat country_code
PRCP BR            362.748694   0.000000  620.000000  780.000000  968.000000  \
TAVG BR              3.721388  47.777778   47.777778   51.111111   56.666667
TMAX BR                   NaN        NaN         NaN         NaN         NaN
TMIN BR             12.628032 -17.777778   32.222222   40.416667   48.888889


                           max
stat country_code
PRCP BR            9990.000000
TAVG BR              56.666667
TMAX BR                    NaN
TMIN BR              56.666667

[4 rows x 24 columns]

In [12]:
dest_path = '..\\data\\processed\\noaa_global\\'
df_noaa2 = df_noaa_global\
    .groupby(['year','stat','country_code'])\
    .agg({
        'value_min':'min'
        , 'value_mean':'mean'
        , 'value_median':'median'
        , 'value_max':'max'
    })\
    .reset_index()
df_noaa2\
    .to_csv(dest_path+'noaa_global_final.csv', index=False, sep=';', decimal=',')

In [80]:
dest_path = '..\\data\\processed\\tech_challenge\\'
df_vinhos.to_csv(dest_path+'df_vinhos.csv', index=False, sep=';', decimal=',')